
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    font-family: Arial,  sans-serif;
    background-image: url('../Images/photo_2023-08-28_20-59-46.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.all{
    display: block;
    width: 100%;
    height: 965px;
    background-color:#000000c7;
}
.nav{
    background-color: rgb(51, 50, 50);
    display: flex; 
    width: 100%;
    min-width: 600px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 10px;
    background: transparent;
}
nav span{
    color:#e8c012;
    font-size: 50px;
    font-weight: bolder;
}
nav a{
    text-decoration: none;
    font-size: 25px;
    position: relative;
   
    text-transform: capitalize;
    color: #fff;

}
nav a::before{
    position: absolute;
    width: 0;
    content: '';
    left: 0;
    height: 3px;
    background-color: rgb(3, 3, 3);
    bottom: -7px;
    transition: 0.5s;
}
.me{
    color:#e8c012;
     
 }
nav a:hover{
    font-size: 35px;
    color:#e8c012;
    cursor: pointer;
}
nav a:hover::before{
    width: 100%;

}
.cont{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.cont form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0,5);
    border-radius: 15px;
    background: rga(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;   
}
.cont form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;

}
.cont form input{
    width:290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 2px solid #d4b714;

}
.cont form input ::placeholder{
    color: #ddd;

}
.cont form #lastName,
.cont form #mobile{
    margin-left: 20px;
}
.cont form h4{
    color:gray;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.cont form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #d4b714;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;   
}
textarea::-webkit-scrollbar{
    width: 1em;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}
.cont form button{
    border: none;
    background: #fff;
    border-radius: 5px;
    color: #333;
    font-weight: 600;
    font-size: 20px;
    width: 100px;
    margin-top: 20px;padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.cont form #button:hover{
    opacity: 0.7;
}




footer{
    width:100%;
    height: 180px;
    background-color: rgb(30, 30, 30,62%);
    margin-top: 200px;
    padding: 25px;
}
.foot{
    padding-left: 310px;
    padding-top: 10px;
    display: flex;
    color: #fff;
   
}

footer a{
    text-decoration: none;
    color: #fff;
}
.legal{
    margin-top: -10px ;
    margin-left:-64px;
    padding: 10px;
}
.legal ul p{
    padding-bottom: 10px;
    font-size: 17px;
}
.legal ul li{
    list-style: none;
    padding-top: 9px;
    list-style: none;
    font-size:11px ;
}
.social{
    margin-top: 3px ;
    margin-left:70px;
    padding: 30px;
}
.social p{
    padding-bottom: 15px;
    font-size: 17px;
}
.social a{
    font-size:15px;
    padding-right: 14px;
    padding-left: 2px;
}

.center ul li{
    padding-top: 9px;
    list-style: none;
    padding-left: -1px;
    font-size:11px ;
}
.center ul p{
    padding-bottom: 10px;
    font-size: 17px;
}
.serv ul li{
    padding-top: 9px;
    list-style: none;
    padding-left: -4px;
    font-size:11px ;
}
.center{
    margin-left: 110px;
}
.serv{
    margin-left: 60px;
}
.serv ul p{
    padding-bottom: 10px;
    font-size: 17px;
}