
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    font-family: Arial,  sans-serif;
    background-color: #fff;
}
.me{
   color: yellow;
    
}
.nav{
    background-color:black;
    display: flex; 
    width: 100%;
    min-width: 600px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 10px;
    
}
nav span{
    color:#e8c012;
    font-size: 50px;
    font-weight: bolder;
}
nav a{
    text-decoration: none;
    font-size: 25px;
    position: relative;
   
    text-transform: capitalize;
    color: #fff;

}
nav a::before{
    position: absolute;
    width: 0;
    content: '';
    left: 0;
    height: 3px;
    background-color: rgb(227, 238, 16);
    bottom: -7px;
    transition: 0.5s;
}
nav a:hover{
    font-size: 35px;
    color:yellow;
    cursor: pointer;
}
nav a:hover::before{
    width: 100%;

}
.ListMen{
    padding-top:10px;
    padding-left: 45px;
    margin-top: 1px;
    font-size: 20px;
    width:200px;
    height: 1398px;
    background-color: black;
}
.ListMen ul{
    margin-top: 10px;
    list-style: none;
}
.ListMen ul a{
    text-decoration: none;
   color: #fff;
}
.ListMen ul li{
    padding-top: 30px;
}
.ListMen ul li a{
    padding-top: 35px;
}

.ListMen ul a::before{
    position: absolute;
    width: 0;
    content: '';
    left: 0;
    height: 3px;
    background-color: rgb(3, 3, 3);
    bottom: -7px;
    transition: 0.5s;
}
.ListMen ul a:hover{
    font-size: 25px;
    color:yellow;
    cursor: pointer;
}
.ListMen ul a:hover::before{
    width: 100%;

}
.al{
    display: flex;
}
.images{
    display: inline-block;
   
    width: 1100px;
    margin-left: 46px;
    margin-top: 1px;
    height: 1198px;
}
.images img{
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 30px;
}